/* style resets */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
  --custom-primary-color: #f542d1;
  --custom-background-color: #fff4c9
  }

body {
  background-color: var(--custom-background-color);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #f542d1;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

img {
  max-width: 300px;
  max-height: 500px;
}

.emoji-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  }

.btn-custom {
  background-color: #f542d1;
  border-color: #fff;
  color: #fff;
  width: 70px;
}

.movingButton {
  transition: transform 0.3s ease-in-out;
}

.spacer-text{
  color: var(--custom-background-color);
}